.pj-progressbar{
    --transition-time:.5s;
    transition: .5s ease-in;
    width: 100%;
    position: relative;
    isolation: isolate;
    display: grid;
    align-items: center;
    height: var(--progress-container-height);
    background: var(--progress-container-color);
}
.pj-progressbar::before{
    transition: .5s ease-in;
    content: '';
    height: var(--progress-height);
    background: var(--progress-color);
    position: absolute;
    left: 0;
    width: calc(1% * ((var(--progress-position))/(var(--progress-max-position)/100)));
}
.pj-progressbar::after{
    transition: .5s ease-in;
    content: '';
    height: var(--progress-height);
    background: var(--progress-color);
    position: absolute;
    left: 0;
    --width: calc(1% * ((var(--progress-position))/(var(--progress-max-position)/100)));
    --size: calc(var(--width) - 5px);
    width: var(--width);
}